<p>
  <strong><%= t('images.show.tittle') %>:</strong>
  <%= @image.tittle %>
</p>
<p>
  <strong><%= t('images.show.description') %>:</strong>
  <%= @image.description %>
</p>

<% if @image.file.attached? %>
  <%= image_tag @image.file.service_url %>
<% end %>

<%= link_to t('images.show.edit'), edit_image_path(@image) %> |
<%= link_to t('images.show.back'), images_path %>
